// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.half-width {
  width: 50%;
  float: left;
}

.clear {
  clear: both;
}

#links {
  margin-top: 20px;
}

